.single .whitebox_primary_body_share {
    margin-left: 79px;
}

fieldset {
    width: 150px;
}

.whitebox_primary_body_content pre {
    white-space: pre-wrap;
}


#footer_copyright {
    margin-right: 399px;
}
